<%= render :partial => "header" %>
<% if false %>
<%= form_for @list do |form| %>
<% if @list.errors.any? %>
  <div id="errorExplanation">
    <h2>The following errors prohibited this form from being saved:</h2>
    <ul>
    <% @list.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

  <%= form.text_field :name %>
  <button type="submit">save</button>
<% end %>
<% end %>
