textarea {height:auto;}
hr {margin-bottom:0.5em;}

div.container {margin:1em;}

nav ul {list-style:none; padding-left:0;}
nav ul ol {list-style:none; padding-left:0.5em;}
/*
ul.items {padding-left:1em;}
ul.items li {margin:2em;}

div.main ol {list-style:none; padding-left:0;}
*/
li.even {background:#e5ecf9;}

.sortable li {cursor:move}

ol.items {list-style:none; padding-left:0;}
ol.items li {
  padding:0.5em 4px;
  border-bottom:solid 1px lightgray;
}

/* TextLists2 */
.header {
  position: relative;
}
.header .login {
  position: absolute;
  top: 0px;
  right: 0px;
}
.header .title {
  font-size: 140%;
  font-weight: bold:
}
.header .title a {
  text-decoration: none;
}

.description h2 {
  border-bottom: solid 2px gray;
}

.screenshot {
  border: solid 1px gray;
}

.items {
    padding-bottom: 60px;
}

form.new_item input[type=text] {
    width: 420px;
}
form.edit_item textarea {
    /*width: 482px;*/
    width: 100%;
    padding: 0px;
    margin: 0px;
}

div.item {
    border: 1px solid dimgray;
    margin-bottom: -1px;
    padding: 0px 0.5em;
    position: relative;
}
div.item.selected {
    background-color: LightSteelBlue;
}
div.item .changed {
    color: red;
    position: absolute;
    right: 2px;
    top: 0px;
}
div.item .label {
    color: white;
    font-size: smaller;
    padding: 1px 2px;
}
div.item .menu-switch {
    display: none;
}
div.item.selected .menu-switch {
    display: inline;
}
div.item .menu-switch img {
    vertical-align: bottom;
}

div.item .menu > div {
    display: none;
    border: 1px solid dimgray;
    border-top: 0px;
    position: absolute;
    right: -1px;
    padding: 0px 4px;
    background-color: LightSteelBlue;
    z-index: 1;
}
div.item.selected:hover .menu > div.selected {
    display: block;
}
div.item .actions select {
    width: 80px;
}


/* label */
form.new_label input.name {
    width: 8em;
}
.label {
    margin: 1px;
    position: relative;
    background-color: white;
    color: black;
}
.label a {
    text-decoration: none;
    color: inherit;
}
.label .delete {
    display: none;
    position: absolute;
    top: 0px;
    right: 0px;
}
.label:hover .delete {
    display: block;
}
.label.unassign {
    text-decoration: line-through;
}
.filter .label a {
    display: block;
}

/* color-picker */
.color-picker {
    margin: 0.5em 2px;
}
.color-picker .switch {
    padding: 1px 2px;
    border: solid 1px lightgray;
}
.color-picker .switch:hover {
    cursor: pointer;
}
.color-picker .options {
    position: absolute;
    width: 100px;
    background: white;
    border: solid 1px gray;
    padding: 2px;
    z-index: 1;
}
.color-picker .options .color {
    width: 13px;
    height: 13px;
    border: solid 1px lightgray;
    margine: 2px;
    float: left;
}
.color-picker .options .color:hover {
    cursor: pointer;
}

/* bookmarklet */
.bookmark {
    overflow: hidden;
}
.bookmark textarea {
    width: 196px;
    padding: 2px;
    margin: 2px;
}
.bookmark select {
    margin: 0px;
    width: 110px;
}
.bookmark input {
    margin: 0px;
    float:right;
}
