textarea {height:auto;}
hr {margin-bottom:0.5em;}

div.container {margin:1em;}

nav ul {list-style:none; padding-left:0;}
nav ul ol {list-style:none; padding-left:0.5em;}
/*
ul.items {padding-left:1em;}
ul.items li {margin:2em;}

div.main ol {list-style:none; padding-left:0;}
*/
li.even {background:#e5ecf9;}

.sortable li {cursor:move}

ol.items {list-style:none; padding-left:0;}
ol.items li {
  padding:0.5em 4px;
  border-bottom:solid 1px lightgray;
}

/* TextLists2 */
form.new_item input[type=text] {
    width: 420px;
}
form.edit_item textarea {
    width: 482px;
}

div.item {
    border: 1px solid dimgray;
    margin-bottom: -1px;
    padding: 0px 0.5em;
    position: relative;
}
div.item.selected {
    background-color: LightSteelBlue;
}
div.item .changed {
    color: red;
    position: absolute;
    right: 2px;
    top: 0px;
}
div.item .actions {
    display: none;
    border: 1px solid dimgray;
    border-top: 0px;
    position: absolute;
    right: -1px;
    padding: 0px 4px;
    background-color: inherit;
    z-index: 1;
}
div.item.selected:hover .actions {
    display: block;
}
div.item .actions select {
    width: 80px;
}
