textarea {height:auto;}

div.container {margin:1em;}

nav ul {list-style:none; padding-left:0;}
nav ul ol {list-style:none; padding-left:0.5em;}

ul.items {padding-left:1em;}
ul.items li {margin:0.5em;}

div.main ol {list-style:none; padding-left:0;}

li.even {background:#e5ecf9;}
