<p>
Drag the link into the bookmark bar: <%= link_to "items", render(:partial => "bookmarklet.js") %>
</p>

<p>
For iPhone OS devices,
<ol>
  <li>Bookmark this page.</li>
  <li>Copy the text area below.</li>
  <li>Paste the content of the clipboard into url of the bookmark created this time</li>
</ol>
</p>
<textarea rows="8">
<%= render :partial => "bookmarklet.js"%>
</textarea>
