<ol>
<% @items.each do |item| %>
  <li>
    <%= link_to item.content, list_item_path(@list, item) %>
    <span style="margin:0 1em">
      <select name="listing[list_id]" data-url='<%= move_list_item_listings_path(@list, item) %>' data-method="post">
        <%= options_from_collection_for_select @lists, :id, :name, @list.id %>
        <!-- <option value="new">new list...</option> -->
      </select>
      <%= link_to "done", list_item_listing_path(@list, item, item.listings.first), :method => "delete" %>
    </span>
  </li>
<% end %>
</ol>
