<% content_for :title do %>
  +TextLists
<% end %>

Install the bookmarklet for iOS devices:
<ol>
  <li>Bookmark this page.</li>
  <li>Copy the text area below.</li>
  <li>Paste the content of the clipboard into url of the bookmark created this time</li>
</ol>
<textarea rows="4"><%= render :partial => "bookmarklet.js"%></textarea>
