<div class="description">
  <h1>TextLists</h1>
<a href="http://twitter.com/share" class="twitter-share-button" data-url="http://textlists.yakitara.com/" data-count="horizontal" data-via="textlists">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>

  <h2>What?</h2>
  <ul>
    <li>A kind of note taking application.</li>
    <li>Notes are organized with lists.</li>
    <li>Reorder notes and lists as you like.</li>
  </ul>
  <h2>iOS App</h2>
  <%= link_to image_tag("as_available_appstore_icon_20091006.png"), "http://itunes.apple.com/us/app/textlists/id386144907", :target => "_blank" %>

  <h2>Bookmarklet</h2>
  <p>
    Drag the link into the bookmark bar: <%= link_to "+TextLists", render(:partial => "bookmarklet.js") %>
  </p>

  <p>
    For iOS devices, <%= link_to "follow the instruction", bookmarklet_path %>.
  </p>

  <%= image_tag "bookmarklet_screenshot.png", :class => "screenshot" %>

  <ul>
    <li>Google Reader (both mobile and desktop) supported.</li>
  </ul>
</div>
