<ul>
  <li><%= link_to "Google Account", openid_path(:identifier => "https://www.google.com/accounts/o8/id"), :method => "post" %></li>
  <li>Other OpenID provider:
    <%= form_tag openid_path do %>
      <label for="identifier">OpenID:</label>
      <%= text_field_tag "identifier" %>
      <button type="submit">login</button>
    <% end %>
  </li>
</ul>
